<!-- <h1>First component:AppComponent</h1>
<app-calculator></app-calculator>
<app-sample></app-sample>
<fa-icon [icon]="Coffee"></fa-icon><br>
<fa-icon [icon]="addressbook"></fa-icon><br>
<fa-icon [icon]="ambulance"></fa-icon><br>
<p [ngStyle]="{'color':'red'}">Angular Demo Project</p>
<p [ngStyle]="{'color':customcolor}">Expertzlab</p>
<p [ngStyle]="{'color':condition?customcolor:'blue'}">Hello all</p>
<select (change)="setColor($event)">
    <option *ngFor="let color of colors"  value="{{color}}">{{color}}</option>
</select>
<p [ngClass]="condition?'blueEnabled':'bluedisabled'">Expertzlab Technologies</p> -->
<app-employee></app-employee>